<!DOCTYPE html>
<!--
对于自定义的提示模版，ThinkPHP 提供了一组变量可供使用。
-->
<html>
    <head>
        <title>success</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            span{color:red;font-weight: bold}
        </style>
    </head>
    <body>
        <div>success success  <br/>
            $msgTitle:<span><{$msgTitle}> </span> <br/>
            $message:<span> <{$message}> </span> <br/>
            $status <span> <{$status }> </span> <br/>
            $waitSecond <span> <{$waitSecond }> </span> <br/>
            $jumpUrl <span> <{$jumpUrl }> </span> <br/>
        </div>
    </body>
</html>
